
html{height:100%;}
body{background: #4489c2 url("../Images/admin/back7.png");margin: 0;padding: 0;color: #000;height:100%;}
img{ border:none;}
#header {background: #7BC2D6 url("../Images/admin/headertop.gif") bottom repeat-x;background-image:url("../Images/admin/headertop.gif");background-repeat-x: repeat;	background-repeat-y: no-repeat;	background-attachment: initial;	background-position-x: 50%;	background-position-y: 100%;	background-origin: initial;	background-clip: initial;	background-color: #7BC2D6;	margin: 0 auto;	min-height:75px;	/*height: 75px;*/	padding: 0;	width: 100%;}
.footer {background: #7BC2D6 url("../Images/admin/footer.gif") repeat-x ;background-position:top;margin: 0;height: 76px;padding: 0;}
.trr{	background-color:#A6C0FF;}
.trr1{	background-color:#C6DBFF;}
.titleRow{background-color:#06C;color:#FFF;font-weight:bold;}
input[type="text"]{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;width:150px;}
option{ font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;}
select{ font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;width:155px;}
input[type="text"]:focus{ color: #000; border-style: groove;  background-color: #ffffcc; font-weight: bold; font-size: 14px;width:150px;}
button { border:0; cursor:pointer; font-weight:bold; padding:0 20px 0 0; text-align:center;}
button span {  position:relative;  display:block;  white-space:nowrap;  padding:0 0 0 20px;}
/*blue buttons*/
button.submitBtn {  background:url(../Images/cssImage/btn_blue_right.gif) right no-repeat; font-size:1.3em;}
button.submitBtn span { height:50px; line-height:50px; background:url(../Images/cssImage/btn_blue_left.gif) left no-repeat;  color:#fff;}
button.submitBtn:hover { background-image: url(../Images/cssImage/btn_blue_right_hover.gif);}
button.submitBtn:hover span {background:url(../Images/cssImage/btn_blue_left_hover.gif) left no-repeat;}
.bluetext{font-size:11px;color:	#000066;line-height :17px;font-style:normal;font-family :Verdana,Arial, Helvetica, sans-serif;TEXT-DECORATION: none;}
.verdana {FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.arial {FONT-SIZE: 11px;LINE-HEIGHT: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.arialminus1 {FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;line-height:16px}
.arialminus2 {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;line-height:15px}
.arialplus1 {FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.arialplus2 {FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.titlepage {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
H1 {MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
H2 {MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #000066; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
H3 {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
PRE {FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.block {PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 7px;}
.left_block {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; COLOR: #888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
DT {MARGIN-TOP: 10px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 4px; COLOR: #cc6600;}
.date {	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff9000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.orange {FONT-SIZE: 11px; COLOR: #ff9000; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.title {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.title2 {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8f8f8f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.titletable {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.boldblue {FONT-WEIGHT: bold; COLOR: #003366;}
.strongintable {FONT-WEIGHT: bold; COLOR: #cc6600;}
.lstrong {FONT-WEIGHT: bold; COLOR: #cc6600;}
.lstrongarial {	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.arialsmall {FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.whitefont {FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; 	FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.whitefontsmall {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
A.title {TEXT-DECORATION: none}
A.title:hover {	FONT-WEIGHT: bold; FONT-SIZE: 13px; color: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
A.title:visited {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
A.All:visited {	FONT-WEIGHT: bold; 	FONT-SIZE: 11px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
A.All:hover {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
A.whitefont {FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
A.whitefont:hover {COLOR: #ffffff; TEXT-DECORATION: none;}
A.whitefont:visited {COLOR: #ffffff; TEXT-DECORATION: none;}
A.whitefontsmall {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
A.whitefontsmall:hover {COLOR: #ffffff; TEXT-DECORATION: none;}
A.whitefontsmall:visited {COLOR: #ffffff; TEXT-DECORATION: none;}
.arialsmall2 {FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
H3 {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
H4 {FONT-SIZE: 11px; COLOR: #cc6600; 	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;}
.titlepagesmaller {FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc3300; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif;}
b{	COLOR: #000066;}
STRONG {COLOR: #000066;}
.menu {FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #FFFFFF; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; background-image:url(../Images/cssImage/title-back.jpg); border-bottom: 1px solid rgb(240, 170, 123); border-left: 1px solid rgb(240, 170, 123); border-right: 1px solid rgb(240, 170, 123);width:100%;}
.bodytext {FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.smalltext {FONT-SIZE: 9px; COLOR: #000066; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.orangetext {FONT-SIZE: 10px; COLOR: #ff6d15; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.whitetext {FONT-SIZE: 8pt; COLOR: #ffffff; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 	TEXT-DECORATION: none;}
.bluebigtitles {FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.bluetitles {FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.bluesubtitles {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.bluesubtitles:link {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.bluesubtitles:visited {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.bluesubtitles:hover {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6d15; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.greensubtitles {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4e7003; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 	TEXT-DECORATION: none;}
.orangesubtitles {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6d15; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.orangesubtitles:link {	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6d15; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.orangesubtitles:visited {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6d15; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.orangesubtitles:hover {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.whitesubtitles {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 	TEXT-DECORATION: none;}
.pathlinks {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.pathlinks:link {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.pathlinks:visited {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.pathlinks:hover {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.pathlinksLight:link {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #79c5e9; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.pathlinksLight:visited {FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #79c5e9; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.pathlinksLight:hover {	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.flashbox {BORDER-RIGHT: #000066 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #000066 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(../Images/cssImage/title-back.jpg); PADDING-BOTTOM: 0px; BORDER-LEFT: #000066 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #000066 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcf9f5;  }
.submenubox {BORDER-RIGHT: #8cc5fd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #8cc5fd 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../Images/cssImage/btback.jpg); 
             PADDING-BOTTOM: 0px; BORDER-LEFT: #8cc5fd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #8cc5fd 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fcf9f5;  }

.submenuContent {PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 4px;  }
.submenuContent TABLE {	MARGIN: 0px; 	WIDTH: 191px;  }
.btbox {POSITION: relative;  }
.btheader {BORDER-RIGHT: #8cc5fd 1px solid; PADDING-RIGHT: 9px; BACKGROUND-POSITION: 50% top; 	BORDER-TOP: #8cc5fd 1px solid; 	PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../Images/cssImage/btback.jpg); PADDING-BOTTOM: 5px; BORDER-LEFT: #8cc5fd 1px solid; WIDTH: 100%; COLOR: #000066; PADDING-TOP: 7px; BORDER-BOTTOM: #8cc5fd 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #eff1ff;  }
.btcontent {BORDER-RIGHT: #cbd6f3 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #cbd6f3 1px solid; WIDTH: 100%; COLOR: #000066; LINE-HEIGHT: 17px; PADDING-TOP: 7px; BORDER-BOTTOM: #cbd6f3 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #ffffff;  }
.btcontent P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px;  }
.btfooter {BORDER-RIGHT: #cbd6f3 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #cbd6f3 1px solid; WIDTH: 100%; COLOR: #000066; PADDING-TOP: 7px; 
           BORDER-BOTTOM: #cbd6f3 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #f9f9f9;  }
.btfooter P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px;  }
.otbox {}
.otheader {PADDING-RIGHT: 6px; BORDER-TOP: #f0aa7b 1px solid; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FONT-SIZE: 13px;text-align:left; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #000066; PADDING-TOP: 7px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; /*POSITION: relative; */BACKGROUND-COLOR: #9fdafc;  	z-index:-999;   }
.otheader A:link {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.otheader A:visited {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;}
.otheader A:hover {FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff6d15; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 	TEXT-DECORATION: underline;}
.otcontent {BORDER-RIGHT: #f2c6aa 1px solid; background-color:#eff1ff;PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f2c6aa 1px solid; WIDTH: 100%; 
            COLOR: #000066; LINE-HEIGHT: 17px; PADDING-TOP: 7px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.otcontentRight {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f2c6aa 1px solid; WIDTH: 100%; COLOR: #000066; LINE-HEIGHT: 17px; 
                 PADDING-TOP: 7px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #ffffff;  }
.otcontentRight P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 5px;  }
.otmenu {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #f2c6aa 1px solid; COLOR: #000066; PADDING-TOP: 0px; 	BORDER-BOTTOM: #f2c6aa 1px solid; 
         FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #efdac0;  }
.otmenuItem {FONT-SIZE: 11px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcf9f5;  }
.otmenuItemOver {FONT-SIZE: 11px; COLOR: #000066; FONT-STYLE: normal; 	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7ecdf;  }
.otcontent P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; 	LINE-HEIGHT: 17px; PADDING-TOP: 5px;  }
.otfooter {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f2c6aa 1px solid; WIDTH: auto; COLOR: #000066; LINE-HEIGHT: 17px; PADDING-TOP: 7px; 
           BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #f9f9f9;  }
.otfooter P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 5px;  }
.otfooter2 {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; BORDER-LEFT: #f2c6aa 1px solid; WIDTH: auto; COLOR: #000066; LINE-HEIGHT: 17px; 
            PADDING-TOP: 7px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative; BACKGROUND-COLOR: #f7ecdf;  }
.otfooter2 P {	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 	PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 5px;  }
.otcontent UL {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; 	PADDING-BOTTOM: 0px; 	MARGIN: 5px 0px 5px 15px; LINE-HEIGHT: 17px; PADDING-TOP: 0px;  }
.otcontent LI {	MARGIN: 5px 0px 5px 15px; LINE-HEIGHT: 17px;  }
#promo {BORDER-RIGHT: #f0aa7b 1px solid;PADDING-RIGHT: 8px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #f0aa7b 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 11px;  LEFT: 50%; 
        BACKGROUND-IMAGE: url(../Images/cssImage/otback.jpg); PADDING-BOTTOM: 4px; BORDER-LEFT: #f0aa7b 1px solid; WIDTH: 202px; COLOR: #ffffff; PADDING-TOP: 6px; BORDER-BOTTOM: #f0aa7b 1px solid; BACKGROUND-REPEAT: repeat-x; 
        FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 87px; HEIGHT: 107px; BACKGROUND-COLOR: #941b0a;   }
#promo P {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px;  }
.subMenuItem {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2c6aa 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9px; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 1px; 
              BORDER-LEFT: #f2c6aa 1px solid; COLOR: #000066; PADDING-TOP: 1px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
              POSITION: static; HEIGHT: 20px; BACKGROUND-COLOR: #fcf9f5;  }
.subMenuItemOver {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2c6aa 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9px; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 2px 1px 0px; 
                  BORDER-LEFT: #f2c6aa 1px solid; COLOR: #000066; PADDING-TOP: 1px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: static; 
                  HEIGHT: 20px; 	BACKGROUND-COLOR: #f7ecdf;  }
.vertMenuItem {	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #bfd6ff 1px solid; HEIGHT: 11px; BACKGROUND-COLOR: #ffffff;  }
.vertMenuItem2 {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #f9faff 1px solid; HEIGHT: 11px; BACKGROUND-COLOR: #f9faff;  }
.vertMenuItemOver {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; COLOR: #000066; PADDING-TOP: 1px; BORDER-BOTTOM: #eff1ff 1px solid; HEIGHT: 11px; BACKGROUND-COLOR: #eff1ff; }
.highlightText {BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; 	FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 5px 10px; BORDER-LEFT: #cccccc 1px solid; 
                COLOR: #000066; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcf9f5;  }
.submenu {FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.submenu:link {	FONT-WEIGHT: normal;FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.submenu:visited {FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.submenu:hover {FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
.orderbox {MARGIN: 2px 0px; POSITION: static; HEIGHT: auto;  }
.orderItem {BORDER-RIGHT: #cbd6f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cbd6f3 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cbd6f3 1px solid; COLOR: #000066; 
            PADDING-TOP: 5px; BORDER-BOTTOM: #cbd6f3 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: static; BACKGROUND-COLOR: #f9f9f9;  }
.orderDesc {BORDER-RIGHT: #cbd6f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cbd6f3 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cbd6f3 1px solid; COLOR: #000066; 
            PADDING-TOP: 5px; BORDER-BOTTOM: #cbd6f3 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: static; BACKGROUND-COLOR: #ffffff;  }
.input-quantity {BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #808080 1px solid; WIDTH: 20px; COLOR: #000066; BORDER-BOTTOM: #808080 1px solid; 	FONT-STYLE: normal; 
                 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff;}
.themeBox {BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; 	BACKGROUND-COLOR: #ffffff;  }
.themeBoxTicker {BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 10px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; 
                 COLOR: #000066; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcf9f5;  }
#exampleContainer {BORDER-RIGHT: #f2c6aa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #f2c6aa 1px solid; COLOR: #000066; 
                   PADDING-TOP: 0px; BORDER-BOTTOM: #f2c6aa 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: relative;  }
.highlightBox {	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: 10px; BORDER-LEFT: #cccccc 1px solid; 	COLOR: #000066; 
                PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left;  }
.highlightBox P {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 15px; PADDING-TOP: 5px;}
.inputbox {font-family: Verdana; 	font-size: 8pt;}
.cabout{color:#FFFFFF;	font-family : Verdana;	font-size : 12px;}
.menuRootPanel { background-color:#e2eafa; border:1px solid #aacaee; cursor:pointer; } 
.sessionname {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #F9EB04; FONT-FAMILY: Verdana; TEXT-DECORATION: none;}
.logout {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #D20F16; FONT-FAMILY: Verdana; TEXT-DECORATION: none;}
.mandatory{color:#FF0000;font-weight:bold;}
.title {PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; ONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; }
.photoDiv{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:8px;text-align:center;width:100px;height:100px;color:#0000FF;}
.photoDiv a {color:#0000FF;}
.myButton {-moz-box-shadow:inset 0px 4px 7px -12px #fff6af;-webkit-box-shadow:inset 0px 4px 7px -12px #fff6af;box-shadow:inset 0px 4px 7px -12px #fff6af;background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
           background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
           background-color:#ffec64;-moz-border-radius:8px;	-webkit-border-radius:8px;border-radius:8px;border:2px solid #ffaa22;display:inline-block;color:#333333;	font-family:Verdana;
           font-size:14px;	font-weight:bold;padding:5px 7px;text-decoration:none;}
.myButton:hover {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
                 background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
                 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
                 background-color:#ffab23;
}.myButton:active {position:relative;top:1px;}
.btn { width:30px; height:28px; cursor: pointer; text-indent: -9999px; background: url(../Images/cssImage/search_bg.png) no-repeat top;}
.btn:hover { background:  url(../Images/cssImage/search_bg.png) no-repeat bottom;}
.error, .notice, .success, .warning {padding:10px 0px 10px 5px ;margin-bottom:1em;border:2px solid #ddd;background-repeat: no-repeat; width:350px;}
.error {font-size:14px;font-weight:bold;color: #D8000C;background-color: #FFBABA;}
.notice {font-size:14px;color: #00529B;font-weight:bold;background-color: #BDE5F8;}
.success {font-size:14px;font-weight:bold;color: #4F8A10;background-color: #DFF2BF;}
.warning {font-size:14px;font-weight:bold;color: #9F6000;background-color: #FEEFB3;}
.welcome {color: #fff;	font-family: Verdana, Geneva, sans-serif;font-size: 12px;font-weight:bold;}
.welcome a{text-decoration:none;color: #006;}
.welcome a:visted{color: #006;	}
.welcome a:hover{text-decoration:underline;color: #006;	}
.headername {color: #800000;}
@font-face{font-family: 'WebRupee'; src: url('rupeeFont/WebRupee.V2.0.eot');src: local('WebRupee'), url('rupeeFont/WebRupee.V2.0.ttf') format('truetype'),  url('rupeeFont/WebRupee.V2.0.woff') format('woff'), url('rupeeFont/WebRupee.V2.0.svg') format('svg');font-weight: normal;font-style: normal;}
.WebRupee{font-family: 'WebRupee';}
.nav_up{padding:5px;background-color:#fff;border:1px solid #CCC;position:fixed;width:110px;height:20px;	bottom:45px;opacity:0.7;right:25px;white-space:nowrap;cursor: pointer;-moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-top-left-radius:3px;	-webkit-border-top-right-radius:3px;   -khtml-border-top-left-radius:3px;-khtml-border-top-right-radius:3px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);	}
.nav_down{padding:5px;	background-color:#FFF;	border:1px solid #CCC;	position:fixed;	width:110px;height:20px;bottom:10px;opacity:0.7;right:25px;white-space:nowrap;cursor: pointer;-moz-border-radius: 3px 3px 3px 3px;
          -webkit-border-top-left-radius:3px;	-webkit-border-top-right-radius:3px;   -khtml-border-top-left-radius:3px;-khtml-border-top-right-radius:3px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
#notification_bar {border: #99ccff solid thick; position: fixed; top:150px;  right: 5px;  }
#notification_bar ul{ list-style: none outside none;  }
.not_close_icon{ border: #000000 solid thin; margin:1px 5px 1px 10px; padding: 0; cursor: pointer;  }