#tree>ul,li { margin:0px; padding: 0px; list-style-type: none;}
li.folder-group { height: auto;}
.folder-group ul{   padding-left: 20px;   display: none;}
.folder{    background: url('../Images/misc.png') 0px -39px no-repeat;    padding-left: 20px;    height: 18px;    display: inline-block;    float: left;    transition: all 0.5s ease-in-out;}
.folder-open{ background: url('../Images/misc.png') -21px -39px no-repeat;    padding-left: 20px;    height: 18px;    display: inline-block; float: left;transition: all 0.5s ease-in-out;}
.folder-group{background: url('../Images/misc.png') -46px -2px repeat-y;}
.folder-group.last { background: none;}
.plus { background: url('../Images/misc.png') 0px -59px no-repeat; padding-left: 20px; display: inline-block; height: 18px; float: left;}
.last .plus { background: url('../Images/misc.png') 0px -82px no-repeat;  padding-left: 20px; display: inline-block;  height: 18px; float: left;}
.folder-group.last .minus { background: url('../Images/misc.png') -18px -82px no-repeat;  padding-left: 20px;  display: inline-block;  height: 18px;  float: left;}
.minus{ background: url('../Images/misc.png') -18px -59px no-repeat #fff;  padding-left: 20px;  display: inline-block;  height: 18px;  float: left;}
.page{ background: url('../Images/misc.png') no-repeat; width: 18px; height: 18px; display: inline-block; float: left;}
.join{ background: url('../Images/misc.png') 0 -20px no-repeat; width: 18px; height: 18px; display: inline-block; float: left;}
.join-last .join{ background: url('../Images/misc.png') -18px -20px no-repeat; width: 18px; height: 18px; display: inline-block;  float: left;}