a{outline-style:none;outline:none;}
img{border:none;}
.menu{ width: 207px;border: 2px solid #FFFFFF;}
.menu ul{ padding: 0;margin: 0;list-style-type: none;}
.menu a{ background: url(../Images/cssImage/verticle.jpg) no-repeat top left;font: bold 11px Verdana;display: block;width: 200px;height:5px;color: #000000;text-decoration: none;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #FFFFFF;padding:12px 0 18px 0;   padding-left: 6px;}
.menu a:hover{color: #FFFFFF;font: bold 14px Verdana;background: url(../Images/cssImage/verticle.jpg) no-repeat bottom left;border-left-width: 10px;}
.box {width: 536px;background: #EBF7FF url(../Images/cssImage/box-body.gif) repeat-y 0 0;margin-top: 50px;margin-left: 50px;}
.box-top {background: url(../Images/cssImage/verticle.jpg) no-repeat left top;width: 536px;}
#box-in {padding: 10px 0 15px 50px;font: bold 11px Verdana;}
th.report { text-align: center;  font-weight: bold; padding: 0px; border: 1px #FFFFFF; background: #4a70aa; color: #FFFFFF;}
td.report { text-align: center;  padding: 0px;  border: 1px #FFFFFF; background: #e3f0f7;}
#info{background-color:#BDEABE;color:#00FF00;text-align:center;vertical-align:center;background-position:center;width:700px;height:40px;}