.pagination {
            font-size: 80%;
			border: solid 1px #8A9091;
			height:26px;
			width:500px;
        }
        
.pagination a {
	padding:2px 5px 2px 5px;
    text-decoration: none;
	font-weight: bold;
	border-left: solid 1px #AAE;
	border-collapse:separate;
	color: #8A9091;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.4em 0.8em;

	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	
	background:#fff;
	border-right: solid 1px #AAE;
}


/***Start Bootstrap pagination css pagination (bootstrap_pagination)****/

.bootstrap_pagination{
            font-size: 80%;
        }
 

.bootstrap_pagination a, .bootstrap_pagination span {
	text-decoration: none;
	color: #fff;
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.bootstrap_pagination .current {
  display: inline-block;
  *display: inline;
  padding: 4px 10px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap_pagination .current.prev, .bootstrap_pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

.bootstrap_pagination a {
  display: inline-block;
  *display: inline;
  padding: 4px 8px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/***End of Bootstrap pagination css pagination (bootstrap_pagination)****/

/***Start Grey pagination css pagination (bootstrap_pagination)****/
        
.grey_pagination a {
       display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
	
	/* add gradient */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.grey_pagination a:hover  {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.grey_pagination a, .grey_pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.grey_pagination .current {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.grey_pagination .current.prev, .grey_pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
/***End of Grey pagination css pagination (bootstrap_pagination)****/

/***Start orange pagination css pagination (bootstrap_pagination)****/
        
.orange_pagination a {
       display: inline-block;
    padding: 0px 10px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #FFAA22;
    background: #FFAA22;
    box-shadow: inset 0px 1px 0px rgba(255,175,94, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    
    text-decoration: none;
    color: rgb(80, 80, 80);
    text-shadow: 0px 1px 0px rgba(255,175,94 1);
	font-weight:bold;
	
	/* add gradient */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFAA22), to(#FFAA22));
    background: -moz-linear-gradient(0% 0% 270deg,#FFAA22, #FFAA22);
}

.orange_pagination a:hover  {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFAF5E), to(#FFAF5E));
    background: -moz-linear-gradient(0% 0% 270deg,#FFAF5E, #FFAF5E);
}

.orange_pagination a , .orange_pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.orange_pagination .current {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.orange_pagination .current.prev, .orange_pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
/***End of orange pagination css pagination (bootstrap_pagination)****/

/** Start simple pagination ***/
.pagination_1{
            font-size: 80%;
        }
        
.pagination_1 a {
    
	font-weight: bold;
	color: #8A9091;
}

.pagination_1 a, .pagination_1 span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination_1 .current {
    border: solid 1px #AAE;
	font-weight: bold;
	color: #8A9091;
}

.pagination_1 .current.prev, .pagination_1 .current.next{
	color:#999;
	
}

/** End simple pagination ***/
